.schedule {
    border: 1px solid #909090;
    text-align: center;
    color: #323232;
}

.schedule th {
    font: inherit;
    font-weight: bold;
    padding: 0.3rem;
}

.schedule td {
    border: 1px solid black;
    width: 100%;
}

.table p {
    display: inline;
    padding: 0 1rem;
}


.time {
    width: 20%
}

.time p{
    border: 1px solid #909090;
    margin: 0;
    text-align: center;
}

.list {
    width: 80%;
    border: 1px solid #909090;
}