.container {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #83abab;
  position: relative;
}

.menu-icon{
  display: none;
}


.logo {
  font: inherit;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}


.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 30px;
}

.nav-elements ul a {
  font: inherit;
  font-size: 1.1rem;
  font-weight: bold;
  color: #392c5c;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  position: relative;
}

.nav-elements ul a.active::after{
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

.logout {
  border: none;
  background: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: #8d4c14;
  padding: 0;
}

.logout:active,
.logout:hover
 {
  color: #703807;
  cursor: pointer;
 }

 .logo:active,
 .logo:hover {
  cursor: pointer;
 }

 
@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #83ababa6;
    height: 0px;
    transition: all 0.3s ease-out;
    overflow: hidden;
    border-radius: 8px;
  }

 .nav-elements.active {
  height: 200px;
 }

 .nav-elements ul {
  display: flex;
  flex-direction: column;
 }

 .nav-elements ul li {
  margin-right: 10px;
  margin-top: 18px;
}
}