.list {
    display: block;
    width: 40rem;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.list ul {
    padding: 0
}

.button {
    padding: 0.6rem;
    background-color: #41885a;
    border: 1px solid #41885a;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}