.list {
    list-style: none;
    font: inherit;
    padding: 0;
    
}

.list li{
    margin: 1rem 0;
    padding: 1rem 2rem;
    border: 1px solid #cfb1dd;
    background-color: #cfb1dd;
    border-radius: 8px;
    font: inherit;
    font-size: 1.1rem;
}

.empty{
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid #f8b3b3;
    text-align: center;
    padding: 1rem;
    border-radius: 4px;
}


.date {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 100;
}