.search {
    /* border: solid 1px black; */
    text-align: center;
    font-size: 1.3rem;
    display: flexbox;
}


.search label{
    display: block;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.search input {
    display: block;
    border: 1px solid #c2bdbd;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin: 1.3rem auto;
}

.search button {
    padding: 0.7rem 1rem;
    margin: 0 1rem;
    background-color: #454f58;
    border: 1px solid #454f58;
    color: white;
    border-radius: 4px;
}

.search button:active,
.search button:hover {
    cursor: pointer;
    background-color: #404e5b;
    
}