.login {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login label {
  font: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.login input {
  font: inherit;
  width: 60%;
  margin: 0 auto;
  padding: 0.6rem;
}

.login button {
  font: inherit;
  font-weight: bold;
  width: 60%;
  margin: 1.5rem auto 1rem;
  padding: 0.7rem 0;
  background-color: #b9c7d4;
  border: 1px solid #b9c7d4;
  border-radius: 4px;
}

.invalid {
  color: red;
  margin: 0.2rem;
}
